* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Sans MS';
    padding: 50px;
    background: #edf1f2;
    color: #333;


}

header{
    background: #fff;
    padding: 0 30px;
    line-height: 40px;
    box-shadow: 0 1px 3px 0 rgba(#000, .3);
}

.avtor{
    text-align: right;
    margin-bottom: 30px;

}