body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f5f5f5;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

